.About{
    position: relative;
}

#aboutIntroImg{
    max-height: 350px;
}

#exploreBtn{
    background-color: #6d28d4;
}

.youtube-card{
    position: relative;
}

#playBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%,-70%);
    background-color: #6d28d4;
    font-size: xx-large;
    height: 60px;
    width: 60px;
}

.youtube-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(100%);
}

.youtube-wrapper{
    width: 60%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    position: relative;
}

.youtube-wrapper iframe{
    position: absolute;
    top: 0%;
    left: 0%;
     width: 100% !important;
  height: 100% !important;
}

#closeBtn{
    position: absolute;
    top: -10%;
    right: -5%;
    background-color: transparent;
    border: none;
    font-size: xx-large;
}

#missionImg{
    animation: bounce 1s ease infinite;
}

.counter {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/About/CounterImg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white; /* optional: makes text readable */
}

#Contact-Btn{
    background-color: #6d28d4;
    color: white;
}


@media screen and (max-width:992px){

    .youtube-wrapper{
    width: 75%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    position: relative;
}
    #closeBtn{
    position: absolute;
    top: -20%;
    right: -5%;
}

}
@media screen and (max-width:768px){

    .youtube-wrapper{
    width: 75%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    position: relative;
}
    #closeBtn{
    position: absolute;
    top: -20%;
    right: -5%;
}

}


@media screen and (max-width:576px){
    .youtube-wrapper{
    width: 90%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    position: relative;
}
    #closeBtn{
    position: absolute;
    top: -30%;
    right: -5%;
}

}